# Django settings
DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# MySQL
MYSQL_DATABASE=taifa_insights
MYSQL_USER=taifa_user
MYSQL_PASSWORD=taifa_pass
MYSQL_HOST=mysql
MYSQL_PORT=3306

# Static media
DJANGO_STATIC_ROOT=/app/static
DJANGO_MEDIA_ROOT=/app/media
