{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Welcome to Taifa Insights</h1>
<p>Explore Kenyan macroeconomic indicators, datasets, dashboards, and insights.</p>
<div class="row mt-4">
  <div class="col-md-4"><a href="/datasets/" class="btn btn-primary">Data Explorer</a></div>
  <div class="col-md-4"><a href="/dashboards/" class="btn btn-primary">Dashboards</a></div>
  <div class="col-md-4"><a href="/insights/" class="btn btn-primary">Insights</a></div>
</div>
{% endblock %}